*{
    margin: 0;
    padding: 0;
}

body {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 2vh;

}

h1 { 
     color: #EAA328; 
     font-family: "Anton", sans-serif;
     font-size: 90px; 
     font-weight: bold; 
     letter-spacing: 3px; 
     line-height: 1; 
     text-align: center;
}

h2 { 
    color: #111; 
    font-family: "DM Sans", sans-serif;
    letter-spacing: -1px;
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 45  px; 
    text-align: center; 
}

button {
    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
  }


  
label {
    font-family: 'Helvetica Neue', sans-serif; 
     font-size: 16px; 

}

p {

    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 16px; 
    text-align: right;

}

input[type=text] {
    padding: 12px 20px;
    border: 2px solid #EAA328;
    border-radius: 4px;
    font-size: 15px;
    height: 30px;
    max-width: 195px;
    text-align: left;
}


textarea {
    font-family: 'Helvetica Neue', sans-serif; 
    max-width: 236px;
    height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #EAA328;
    border-radius: 4px;
  }

  a:link {
    padding: 15px;
    font-family: 'Helvetica Neue', sans-serif; 
    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: black;
    font-weight: bold;

  }

a:hover {
    padding: 15px;
    font-family: 'Helvetica Neue', sans-serif; 
    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: white;
    font-weight: bold;

}
