*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 100px 50px;
}

form {
    width: 95%;
    max-width: 900px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

h1 {
    color: #EAA328; 
    font-family: "Anton", sans-serif;
    font-size: 90px; 
    font-weight: bold; 
    letter-spacing: 3px; 
    line-height: 150%; 
    text-align: center;
}

h2 { 
    color: #111; 
    font-family: "DM Sans", sans-serif;
    letter-spacing: -1px;
    font-size: 30px; 
    font-weight: 300; 
    line-height: 150%; 
    text-align: center; 
}

button {
    width: 250px;
    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
}


label {
    font-family: 'Helvetica Neue', sans-serif; 
     font-size: 16px; 

}

p {

    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 16px; 
    text-align: right;

}

input[type=text] {
    width: 250px;
    padding: 12px 20px;
    border: 2px solid #EAA328;
    border-radius: 4px;
    font-size: 15px;
    height: 30px;
    text-align: left;
}


textarea {
    width: 250px;
    font-family: 'Helvetica Neue', sans-serif; 
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #EAA328;
    border-radius: 4px;
    resize: none;
}

a:link {
    padding: 15px;
    font-family: 'Helvetica Neue', sans-serif; 
    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: black;
    font-weight: bold;

    position: absolute;
    top: 100px;
    left: 30px;
}

a:hover {
    padding: 15px;
    font-family: 'Helvetica Neue', sans-serif; 
    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: white;
    font-weight: bold;

}

a, button {
    cursor: pointer;
}

form > div {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}