*{
    margin: 0;
    padding: 0;
}

body {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 2vh;

}

h1 { 
     color: #EAA328; 
     font-family: "Anton", sans-serif;
     font-size: 90px; 
     font-weight: bold; 
     letter-spacing: 3px; 
     line-height: 1; 
     text-align: center; 

}

h2 { 
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 72px; 
    text-align: center; 
}

table {
    padding: 15px;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 25px;
    font-size: 14px;
    gap: 2vh;
    letter-spacing: -1px; 
    text-align: center;
    width: 100%;

    
}

select {
    padding: 10px;
    border: 2px solid #EAA328;
    border-radius: 4px;
    font-size: 15px;
    /* width: 120%; */
    text-align: center;

}

input[type=number] {
    padding: 10px;
    border: 2px solid #EAA328;
    border-radius: 4px;
    font-size: 15px;
    /* width: 100%; */
    text-align: center;
    max-width: 171PX;
}

thead {
    padding: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    word-spacing: 15PX;
    letter-spacing: 1px; 
    text-align: center;
    width: 1000%;
    border-bottom: 1px solid #ddd;

}


button {
    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
  }

 table td {
    border-bottom: 1px solid #ddd;
    font-size: 15px;

} 


th, td {
    padding: 15px;
    text-align: left; 
    border-bottom: 1px solid #ddd;

  }

  a:link {
    padding: 15px;
    font-family: 'Helvetica Neue', sans-serif; 
    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: black;
    font-weight: bold;

}

a:hover {
    padding: 15px;
    font-family: "Poppins", sans-serif;
    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

