*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    width: 100vw;
    height: 100vh;

    padding: 100px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}



h1 { 
     color: #EAA328; 
     font-family: "Anton", sans-serif;
     font-size: 90px; 
     font-weight: bold; 
     letter-spacing: 3px; 
     line-height: 1; 
     text-align: center; 

}

h2 { 
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 0 0 72px; 
    text-align: center; 
}



form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

select {
    max-width: max-content;
    padding: 10px;
    border: 2px solid #EAA328;
    border-radius: 4px;
    font-size: 15px;
    /* width: 120%; */
    text-align: center;

}

input[type=number] {
    padding: 10px;
    border: 2px solid #EAA328;
    border-radius: 4px;
    font-size: 15px;
    /* width: 100%; */
    text-align: center;
    max-width: 171PX;
}



a:link {
    max-width: max-content;

    padding: 15px;
    font-family: 'Helvetica Neue', sans-serif; 
    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: black;
    font-weight: bold;

    position: absolute;
    top: 100px;
    left: 30px;

    transition: 0.2s;
}

a:hover {
    max-width: max-content;

    padding: 15px;
    font-family: "Poppins", sans-serif;
    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

button {
    max-width: max-content;

    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;
}
a, button {
    cursor: pointer;
}


table {
    width: 95%;
    max-width: 900px;
    border-spacing: 0;

    font-family: 'Helvetica Neue', sans-serif;
}

thead {
    width: 1000%;
    border: 3px solid #111;
    
    font-size: 20px;
    padding: 20px;
}
th, td {
    padding: 5px 3px;
    text-align: center;
}
th {
    border: 3px solid #111;
}
td {
    border: 1px solid #111;
}

tr {
    transition: 0.2s;
    overflow: hidden;
    animation: showUp 1s;
}
tr:hover {
    background-color: rgb(190, 189, 189);
}

@keyframes showUp {
    from {
        background-color: rgb(141, 214, 141);
    }
    to {
        background-color: transparent;
    }
}