*{
    margin: 0;
    padding: 0;
}

body {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 2vh;

}

h1 {  
     color: #EAA328; 
     font-family: "Anton", sans-serif;
     font-size: 90px; 
     font-weight: bold; 
     letter-spacing: 3px; 
     line-height: 1; 
     text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2vh;

}

li{
    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;

}

li:hover{
    background-color: #EAA328; 
    border: 2px solid #593908;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Helvetica Neue', sans-serif;

}

#burgui_3 {
    width: 500px;
    align: right;
    
    }